*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/build
app/release
*.jks
*.p12
*.keystore
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
android-sdk/
jdk17/
jdk17.zip
cmdline-tools.zip
cmdline-tools-new.zip
cmdline-tools/
platform-34.zip
